<ngx-spinner type="ball-triangle-path" name="cahya" [fullScreen]="true">
  <p style="font-size: 16px; color: white">Loading...</p>
</ngx-spinner>
<div class="flex flex-col">
  <div class="overflow-x-auto font-quicksand font-semibold">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="w-full flex justify-center pt-5">
        <div class="relative max-w-sm border rounded-md">
          <input
            type="date"
            (change)="sendTheNewValue($event)"
            class="py-3 px-4 w-full border-gray-400 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500"
          />
        </div>
      </div>
      <div
        class="flex flex-wrap bg-white justify-center items-center space-x-2 py-2"
      >
        <a
          (click)="previousWeek()"
          class="inline-flex cursor-pointer shadow-md items-center px-4 max-[560px]:px-2 py-2 text-sm font-semibold text-[#54086B] bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 h-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 19l-7-7 7-7"
            />
          </svg>
        </a>
        <h1 class="text-lg font-semibold">
          {{ this.arrayDateinWeek[0].full }} -
          {{ this.arrayDateinWeek[6].full }}
        </h1>
        <a
          (click)="nextWeek()"
          class="inline-flex cursor-pointer shadow-md items-center px-4 max-[560px]:px-2 py-2 text-sm font-semibold text-[#54086B] bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 h-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 5l7 7-7 7"
            />
          </svg>
        </a>
      </div>
      <div
        class="w-[30vw] mx-auto flex justify-center items-center gap-x-3 text-sm font-manrope pt-2"
      >
        <div class="flex justify-center items-center">
          <div
            class="h-4 w-4 bg-white rounded-md border border-slate-300 mx-1.5"
          ></div>
          <h1 class="text-gray-800">Available</h1>
        </div>
        <div class="flex justify-center items-center">
          <div
            class="h-4 w-4 bg-[#E3E7F1] rounded-md border border-slate-300 mx-1.5"
          ></div>
          <h1 class="text-gray-800">Past</h1>
        </div>
        <div class="flex justify-center items-center">
          <div
            class="h-4 w-4 bg-[#C6CBEF] rounded-md border border-slate-300 mx-1.5"
          ></div>
          <h1 class="text-gray-800">Reserved</h1>
        </div>
      </div>

      <!-- MAIN CONTENT -->
      <div class="overflow-hidden">
        <table
          *ngFor="let day of arrayDateinWeek; let la = last"
          class="my-3 min-w-full divide-y rounded-lg divide-gray-400"
        >
          <thead>
            <tr>
              <th
                scope="col"
                class="px-4 py-2.5 text-left text-sm font-bold text-gray-100 bg-[#494CA2] uppercase w-[10%] rounded"
              >
                {{ day.dayName + ", " + day.dateDefault }}
              </th>
              <th
                *ngFor="let hour of hours"
                scope="col"
                class="text-center text-sm font-bold text-gray-50 bg-[#8186D5] border uppercase w-[4.5%] rounded-r px-1"
                colspan="2"
              >
                {{ hour }}.00
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-300">
            <tr
              *ngFor="let room of resourcesApi; let last = last"
              class="hover:bg-gray-50"
            >
              <td
                *ngIf="
                  !room.roomName.includes('1st VIP') &&
                  !room.roomName.includes('One For All')
                "
                class="p-2 whitespace-nowrap text-sm font-semibold text-[#494CA2] bg-fuchsia-50 rounded-r"
              >
                {{ room.roomName }}
              </td>
              <td
                *ngIf="
                  room.roomName.includes('1st VIP') ||
                  room.roomName.includes('One For All')
                "
                class="p-2 whitespace-nowrap text-sm font-bold text-[#494CA2] bg-violet-50 rounded-r"
              >
                {{ room.roomName }}
              </td>
              <ng-container
                *ngFor="
                  let item of changeHourArray(day.full, room.id, hourHalf);
                  let i = index;
                  let l = last;
                  let c = count
                "
              >
                {{
                  saveFilterBooked({
                    day: day.dayName,
                    date: day.full,
                    room: room.id,
                    start: item
                  })
                }}

                <td
                  (click)="
                    filterBookedWithHour(day.dayName, day.full, room.id, item)
                      .length != 0
                      ? button(
                          filterBookedWithHour(
                            day.dayName,
                            day.full,
                            room.id,
                            item
                          )[0]?.id
                        )
                      : c == 1 ||
                        (i == 0 &&
                          formatDate(
                            this.filterReserv(day.full, room.id)[0]?.begin
                          ) != day.full &&
                          this.filterReserv(day.full, room.id)[0]?.begin !=
                            null)
                      ? button(this.filterReserv(day.full, room.id)[0]?.id)
                      : onAuthCheck()
                      ? !isDateTimePast(day.datefull, item)
                        ? buttonCreate(day.localeString, item, room.id)
                        : null
                      : null
                  "
                  [ngClass]="
                    filterBookedSave.length != 0
                      ? 'bg-[#C6CBEF] cursor-pointer hover:bg-[#abafcf] rounded-md transition-colors break-all '
                      : c == 1 ||
                        (i == 0 &&
                          formatDate(
                            this.filterReserv(day.full, room.id)[0]?.begin
                          ) != day.full &&
                          this.filterReserv(day.full, room.id)[0]?.begin !=
                            null)
                      ? 'bg-[#C6CBEF] cursor-pointer hover:bg-[#abafcf] rounded-md transition-colors break-all '
                      : isDateTimePast(day.datefull, item)
                      ? 'bg-[#E3E7F1] border-white'
                      : 'hover:bg-blue-50 cursor-pointer bg-white'
                  "
                  [attr.colspan]="
                    filterBookedSave.length != 0
                      ? filterBookedSave[0].length * 2 > c - 1 - i
                        ? filterBookedSave[0].length * 2
                        : filterBookedSave[0].length * 2
                      : c == 1
                      ? 28
                      : i == 0 &&
                        formatDate(
                          this.filterReserv(day.full, room.id)[0]?.begin
                        ) != day.full
                      ? 28 - c + 1
                      : 1
                  "
                  class="px-1 text-xs text-gray-800 font-bold border-2 border-gray-200 w-[2.25%] overflow-x-auto"
                >
                  <h1 class="h-fit">
                    {{
                      c == 1 ||
                      (i == 0 &&
                        formatDate(
                          this.filterReserv(day.full, room.id)[0]?.begin
                        ) != day.full)
                        ? this.filterReserv(day.full, room.id)[0]?.title
                        : filterBookedSave[0]?.title
                    }}
                  </h1>

                  <!-- {{ item }} -->
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="flex flex-wrap bg-white justify-center items-center space-x-2 py-2"
      >
        <a
          (click)="previousWeek()"
          class="inline-flex cursor-pointer shadow-md items-center px-4 max-[560px]:px-2 py-2 text-sm font-semibold text-[#54086B] bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 h-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 19l-7-7 7-7"
            />
          </svg>
        </a>
        <h1 class="text-lg font-semibold">
          {{ this.arrayDateinWeek[0].full }} -
          {{ this.arrayDateinWeek[6].full }}
        </h1>
        <a
          (click)="nextWeek()"
          class="inline-flex cursor-pointer shadow-md items-center px-4 max-[560px]:px-2 py-2 text-sm font-semibold text-[#54086B] bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 h-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 5l7 7-7 7"
            />
          </svg>
        </a>
      </div>
      <div class="w-full flex justify-center pt-1 pb-5">
        <div class="relative max-w-sm border rounded-md">
          <input
            type="date"
            (change)="sendTheNewValue($event)"
            class="py-3 px-4 w-full border-gray-400 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500"
          />
        </div>
      </div>
    </div>
  </div>
</div>
