<nav class="relative bg-white shadow-lg">
  <div class="container px-6 py-2 mx-auto">
    <div class="flex items-center justify-between">
      <a href="#" class="text-xl font-semibold"> MRIS </a>

      <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
      <div
        class="inset-x-0 z-20 w-fit px-2 py-1 transition-all duration-300 ease-in-out bg-white"
      >
        <!-- <div class="flex flex-col -mx-6 lg:flex-row lg:items-center lg:mx-8">
          <a
            href="#"
            class="px-3 py-2 mx-3 mt-2 text-gray-700 transition-colors duration-300 transform rounded-md lg:mt-0 ] hover:bg-gray-100 "
            >Join Slack</a
          >
          <a
            href="#"
            class="px-3 py-2 mx-3 mt-2 text-gray-700 transition-colors duration-300 transform rounded-md lg:mt-0  hover:bg-gray-100 "
            >Browse Topics</a
          >
          <a
            href="#"
            class="px-3 py-2 mx-3 mt-2 text-gray-700 transition-colors duration-300 transform rounded-md lg:mt-0  hover:bg-gray-100 "
            >Random Item</a
          >
          <a
            href="#"
            class="px-3 py-2 mx-3 mt-2 text-gray-700 transition-colors duration-300 transform rounded-md lg:mt-0  hover:bg-gray-100 "
            >Experts</a
          >
        </div> -->

        <div class="flex items-center mt-4 lg:mt-0">
          <!-- <button
            class="hidden mx-4 text-gray-600 transition-colors duration-300 transform lg:block hover:text-gray-700 focus:text-gray-700 focus:outline-none"
            aria-label="show notifications"
          >
            <svg
              class="w-6 h-6"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15 17H20L18.5951 15.5951C18.2141 15.2141 18 14.6973 18 14.1585V11C18 8.38757 16.3304 6.16509 14 5.34142V5C14 3.89543 13.1046 3 12 3C10.8954 3 10 3.89543 10 5V5.34142C7.66962 6.16509 6 8.38757 6 11V14.1585C6 14.6973 5.78595 15.2141 5.40493 15.5951L4 17H9M15 17V18C15 19.6569 13.6569 21 12 21C10.3431 21 9 19.6569 9 18V17M15 17H9"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button> -->
          <a
            href="http://192.168.9.47/meetcalendar/"
            routerLinkActive="router-link-active"
            class="relative cursor-pointer inline-flex mx-4 items-center justify-start px-5 max-[560px]:px-3 text-sm py-1.5 overflow-hidden font-medium transition-all bg-[#f6b26e] rounded-md hover:bg-white group"
          >
            <span
              class="absolute inset-0 border-0 group-hover:border-[25px] ease-linear duration-100 transition-all border-white "
            ></span>
            <span
              class="relative w-full text-left text-white transition-colors duration-200 ease-in-out group-hover:text-[#f6b26e]  rounded-md"
              >Meeting Calendar</span
            >
          </a>
          <button
            *ngIf="onAuthCheck()"
            [routerLink]="['/login']"
            routerLinkActive="router-link-active"
            class="bg-white flex items-center text-gray-700 justify-center gap-x-3 text-sm sm:text-base rounded-lg hover:bg-gray-100 duration-300 transition-colors border px-5 py-2"
          >
            <svg
              class=""
              xmlns="http://www.w3.org/2000/svg"
              height="20"
              viewBox="0 -960 960 960"
              width="20"
            >
              <path
                d="M489-120v-60h291v-600H489v-60h291q24 0 42 18t18 42v600q0 24-18 42t-42 18H489Zm-78-185-43-43 102-102H120v-60h348L366-612l43-43 176 176-174 174Z"
              />
            </svg>

            <span>Login</span>
          </button>
          <!-- <button
            *ngIf="!onAuthCheck()"
            (click)="signOut()"
            class="bg-white flex items-center text-red-500 justify-center gap-x-3 text-sm sm:text-base rounded-lg hover:bg-gray-100 duration-300 transition-colors border px-5 py-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="20"
              viewBox="0 -960 960 960"
              width="20"
              fill="red"
            >
              <path
                d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h291v60H180v600h291v60H180Zm486-185-43-43 102-102H375v-60h348L621-612l43-43 176 176-174 174Z"
              />
            </svg>

            <span>Log Out</span>
          </button> -->

          <div class="drop-shadow-md" *ngIf="!onAuthCheck()">
            <div class="w-full flex justify-end">
              <a
                (click)="userDropdown()"
                class="cursor-pointer rounded-full hover:bg-slate-100"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="30"
                  viewBox="0 -960 960 960"
                  width="30"
                  class=""
                >
                  <path
                    d="M222-255q63-44 125-67.5T480-346q71 0 133.5 23.5T739-255q44-54 62.5-109T820-480q0-145-97.5-242.5T480-820q-145 0-242.5 97.5T140-480q0 61 19 116t63 109Zm257.814-195Q422-450 382.5-489.686q-39.5-39.686-39.5-97.5t39.686-97.314q39.686-39.5 97.5-39.5t97.314 39.686q39.5 39.686 39.5 97.5T577.314-489.5q-39.686 39.5-97.5 39.5Zm.654 370Q398-80 325-111.5q-73-31.5-127.5-86t-86-127.266Q80-397.532 80-480.266T111.5-635.5q31.5-72.5 86-127t127.266-86q72.766-31.5 155.5-31.5T635.5-848.5q72.5 31.5 127 86t86 127.032q31.5 72.532 31.5 155T848.5-325q-31.5 73-86 127.5t-127.032 86q-72.532 31.5-155 31.5ZM480-140q55 0 107.5-16T691-212q-51-36-104-55t-107-19q-54 0-107 19t-104 55q51 40 103.5 56T480-140Zm0-370q34 0 55.5-21.5T557-587q0-34-21.5-55.5T480-664q-34 0-55.5 21.5T403-587q0 34 21.5 55.5T480-510Zm0-77Zm0 374Z"
                  />
                </svg>
              </a>
            </div>

            <div
              [ngClass]="!userBool ? 'hidden' : 'true'"
              class="fixed transition-[opacity,margin] duration-[0.1ms] sm:duration-[10ms] sm:w-48 z-10 bg-white sm:shadow-md rounded-lg p-2 dark:bg-gray-800 sm:dark:border dark:border-gray-700 dark:divide-gray-700 right-0"
            >
              <a
                class="flex items-center gap-x-3.5 py-2 px-3 rounded-md text-sm text-blue-600 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300"
                >{{ this.authService.getUserData().employee_name }} ({{
                  this.authService.getUserData().mail_id
                }})
              </a>
              <hr class="py-0.5" />
              <!-- <a
                class="flex items-center gap-x-3.5 py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300"
                href="#"
              >
                Downloads
              </a> -->
              <a
                class="flex items-center gap-x-3.5 py-2 px-3 cursor-pointer rounded-md text-sm text-red-500 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300"
                (click)="signOut()"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="15"
                  viewBox="0 -960 960 960"
                  width="15"
                  fill="red"
                >
                  <path
                    d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h291v60H180v600h291v60H180Zm486-185-43-43 102-102H375v-60h348L621-612l43-43 176 176-174 174Z"
                  />
                </svg>
                Log Out
              </a>
            </div>
          </div>

          <!-- <button
            type="button"
            class="flex items-center focus:outline-none"
            aria-label="toggle profile dropdown"
          >
            <div
              class="w-8 h-8 overflow-hidden border-2 border-gray-400 rounded-full"
            >
              <img
                src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                class="object-cover w-full h-full"
                alt="avatar"
              />
            </div>

            <h3 class="mx-2 text-gray-700  lg:hidden">
              Khatab wedaa
            </h3>
          </button> -->
        </div>
      </div>
    </div>
  </div>
</nav>
