<hr>
<footer class="mt-auto w-full max-w-[85rem] py-4 px-2 lg:px-4 mx-auto">
    <!-- Grid -->
    
    <div class="text-center items-center">
      <!-- <div>
        <a class="flex-none text-xl font-semibold text-black dark:text-white" href="#" aria-label="Brand">Brand</a>
      </div> -->
      <!-- End Col -->
  
      <div class="">
        <p class="text-gray-500 text-sm">© <b>2023 AIO Intern</b>. All rights reserved.</p>
      </div>
  
      <!-- Social Brands -->
      
      <!-- End Social Brands -->
    </div>
    <!-- End Grid -->
  </footer>